/* .container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
} */
 
.titulo{
    font-size: 35px;
    text-align: center;
    color: blue;
    padding-top: 20px;
}

small{
    font-size: 20px;
}

#contactenos {
    position:relative;
  }
  
  #contactenos iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  
  #contactenos form {
    padding: 60px;
    background-color: aqua;
  }
  
  #contactenos #formulario-contacto .form-block {
    width: 100%;
    margin-bottom: 15px;
  }
  
  #contactenos #formulario-contacto .form-block .form-control {
    display: block;
    height: 40px;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
  }
  
  #contactenos #formulario-contacto .form-block textarea {
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
    /*No se puede dimensionar el textarea*/
    resize: none;
  }
  
  #contactenos #formulario-contacto .form-block.bloque-ultimo {
    margin-bottom: 0;
  }

/*Validacion del formulario*/
.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  display: none;
}

.formulario-input-error-activo {
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  color: white;
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}